body{
	background-color: white;
}
#top1{
	background-color: #09F;
	height: 300px;
	width: 1000px;
}
#line1{
	background-color: yellow;
	height: 300px;
	width: 150px;
	margin-left: 20%;
}
#middle{
	background-color: yellow;
	height: 150px;
	width: 1000px
}
#bottom{
	background-color: #09F;
	height: 300px;
	width: 1000px;
}